---
import "~/styles/index.css";
import "@fontsource-variable/inter";
import "@fontsource-variable/noto-sans-thai";

import Compatibility from "~/components/compatibility.astro";
import Features from "~/components/features.astro";
import WorkingProcess from "~/components/working-process.astro";
import Footer from "~/components/footer.astro";
import Header from "~/components/header.astro";
import Intro from "~/components/intro.astro";
import Partners from "~/components/partners.astro";
import Splash from "~/components/splash.astro";
import Sekweb from "~/components/sekweb.astro";
import packageJson from "../../package.json";

const { generator, site } = Astro;
const image = new URL("cover.jpg", site);
const description = `Code Passion co., ltd. "Tech makes it real", our mission is to create vibrant, innovative, and practical modular applications that benefit both businesses and the community. We envision a future where technology brings color and connectivity to society.`;
---

<!doctype html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta name="version" content={packageJson.version} />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <meta name="generator" content={generator} />

    <title>Code Passion</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="Code Passion" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta property="fb:app_id" content="1048058969988849" />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- initialize theme -->
    <script is:inline>
      const themeSaved = localStorage.getItem("theme");

      if (themeSaved) {
        document.documentElement.dataset.theme = themeSaved;
      } else {
        const prefersDark = window.matchMedia(
          "(prefers-color-scheme: dark)"
        ).matches;
        document.documentElement.dataset.theme = prefersDark ? "dark" : "light";
      }

      window
        .matchMedia("(prefers-color-scheme: light)")
        .addEventListener("change", (event) => {
          if (!localStorage.getItem("theme")) {
            document.documentElement.dataset.theme = event.matches
              ? "dark"
              : "light";
          }
        });
    </script>
  </head>
  <body
    class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
    <Header />
    <Splash />

    <section class="space-y-64 px-8 py-32">
      <Intro />
    </section>

    <section class="bg-white py-32">
      <Features />
    </section>

    <section class="space-y-64 px-8 py-32">
      <WorkingProcess />
    </section>

    <section class="relative h-full bg-white">
      <Sekweb />
    </section>

    <section class="py-32">
      <Compatibility />
    </section>

    <section class="bg-white py-32">
      <Partners />
    </section>
    <Footer />
  </body>
</html>
